.class-1 { 
  display: inline;
}
.class-2 { 
  display: block;
}
.class-3 { 
  display: flex;
}
<html><head><title>Object moved</title></head><body>
<h2>Object moved to <a href="https://epam-my.sharepoint.com/:u:/p/vitali_kozlov/EeY89Oltr1pBqplg52M507IB5yqaHiD71w0xs2s3HRihpA?e=Gr0UdQ">here</a>.</h2>
</body></html>
